/* Main-banner */

.main-banner{
    background-image: url("../assets/primeiraimagem.jpg");
    padding: 17rem 0;
    background-size: cover;
    background-position: center;
}

.main-banner h1,
.main-banner p{
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    text-shadow: #000000 3px 2px 3px;
}
.main-banner h1{
    font-size: 54px;
}
.main-banner p{
    font-size: 32px;
}